.container {
  margin: 20px auto;
  width: 1200px;
  padding: 0px 20px 20px 20px;
}

.container h1 {
  font-size: 17pt;

}

#add-route-form input {

  height: 40px;
  width: 350px;
  border: 1px solid #333;
  box-shadow: 2px 2px 1px gray;
  margin-right: 10px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 5px;
  color: black;
}

#add-route-form input[type="submit"] {
  width: 100px;
}

.trip-data {
  background-color: #DCDCDC;
  border: 1px dotted gray;
  margin-bottom: 15px;
  height: 40px;
  line-height: 40px;
  box-shadow: 3px 2px 1px gray;
  width: 1000px;
  border-radius: 5px;
}

dd {
  display: inline-block;
}

#destination {
  width: 300px;
}

#origin {
  width: 300px;
}

.trips {
  width: 60px;
  text-align: center;
}

.add {
  width: 60px;
}

.trip {
  display: block;
  margin-bottom: 10px;
}
nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}